{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": [">0.25%", "ie >= 11"]
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "external-helpers"
  ]
}
